.gradle
/local.properties
.DS_Store
/build
/captures

.externalNativeBuild
/captures/
/coverage/
/spec/reports/
/vendor/
/.bundle/
/hint_gen/
*/build
/fastlane/report.xml
/fastlane/README.md
Gemfile.lock

*.iml
/.idea
